  GNU nano 7.2                                                                                                          .gitignore                                                                                                                   
# Ignore model files
*.pkl

# Ignore numpy embeddings
*.npz

# Ignore metric images and reports
*.png
*.csv
